/* 顶部导航 */
.topnav{
    height: 50px;
    background-color: #272727;
}

.topnav-left{
    line-height: 50px;
}

.topnav a{
    color: #999999;
}

.topnav span{
    color: #322a27;
    padding: 0 10px;
}

.topnav-right{
    float: right;
    margin-top: -50px;
}

.topnav-right .cart{
    width: 120px;
    height: 50px;
    background-color: #424242;
    display: inline-block;
    text-align: center;
    line-height: 50px;
}

.topnav-right i{
    color: #b0b0b0;
}

.searchnav{
    width: 100%;
    height: 190px;
    background-color: #141414;
    border-bottom: 1px solid #05b7bb;
}

.searchnav-service{
    position: relative;
    float: right;
    margin-top: 50px;
    font-size: 0;
    }

    .searchnav-service input{
    width: 525px;
    height: 50px;
    border: 1px solid #373737;
    box-sizing: border-box;
    background-color: #141414;
    }

    .searchnav-service i{
    width: 60px;
    height: 50px;
    display: inline-block;
    background-color: #000000;
    padding-top: -26px;
    line-height: 45px;
    border: 1px solid #373737;
    box-sizing: border-box;
    color: #b0b0b0;
    }

     .searchnav-search-hotkeys{
        position: absolute;
        height: 18px;
        top:50%;
        margin-top: -9px;
        line-height: 18px;
        right: 51px;
    }
    
    .searchnav-search-hotkeys span{
    
        background-color: #eeeeee;
        color: #757575;
        margin-right: 10px;
        padding: 4px 6px;
    }


    /* 第三部分 */

.three-part{
    position: relative;
    width: 100%;
    height: 575px;
}

    .three-part img{
        width: 100%;
        height: 575px;
        /* background-image: url(../upload/ad1.png); */
        /* background-repeat: no-repeat; */
    }

    .three-part.tab{
         position: absolute;
        float: left;
        top: 0;
        right: 0;
    }

    .tab{
        margin-top: -630px;
    }

    .first{
        margin-left: 338px;
    }

    .tab a{
        margin-right: 34px;
        color: #999999;
        font-size: 19px;
    }

    .three-part ul{
        width: 234px;
        height: 623px;
        background-color: rgba(225, 225, 225, 0.6)
    }

    .three-part li{
        width: 292px;
        height: 47px;
        font-size: 18px;
        margin-left: 37px;
        color: #fff;
        margin-bottom: 15px;
        
    }

    .quanbufenlei{
        background-color: #00eef3;
    }