/* 顶部导航 */
.topnav{
    height: 50px;
    background-color: #272727;
}

.topnav-left{
    line-height: 50px;
}

.topnav a{
    color: #999999;
}

.topnav a:hover{
    color: #00eef3;
}

.topnav span{
    color: #322a27;
    padding: 0 8px;
}

.topnav-right{
    float: right;
    margin-top: -50px;
}

.topnav-right .cart{
    display: inline-block;
    width: 120px;
    height: 50px;
    background-color: #424242;
    text-align: center;
    line-height: 50px;
    margin-left: 19px;
} 

.topnav-right i{
    color: #b0b0b0;
    font-size: 20px;
} 

.topnav-right i:hover{
    color: #00eef3;
}


/* 搜索部分 */

.searchnav{
    width: 100%;
    height: 140px;
    background-color: #141414;
}

.searchnav-service{
    position: relative;
    float: right;
    margin-top: 50px;
    font-size: 0;
    }

    .searchnav-service input{
    width: 525px;
    height: 56px;
    border: 1px solid #373737;
    box-sizing: border-box;
    background-color: #141414;
    }

    .searchnav-service i{
        display: inline-block;
        width: 60px;
        height: 54px;
        background-color: #000000;
        border: 1px solid #373737;
        color: #b0b0b0;
        line-height: 50px;
        text-align: center;
        font-weight: 700;
    }

    .searchnav-search-hotkeys a{
        color: #b0b0b0;
        float: left;
        font-size: 16px;
        background-color: #373737;
        margin-right: 10px;
    }
    
    .searchnav-search-hotkeys{
        position: absolute;
        top: 16px;
        left: 275px;
    } 



    /* 第三部分 */

    .three-part{
        height: 47px;
        background-color: #141414;
    }

    .quanbufenlei{
        float: left;
        height: 47px;
        width: 234px;
        background-color: #00eef3;
        line-height: 47px;
        padding-left: 30px;
        font-size: 18px;
        box-sizing: border-box;
    }

    .three-part img{
        margin-left: 82px;
    }

    .three-part a{
        color: #999999;
        font-size: 16px;
    }

    .three-part a:hover{
        color: #00eef3;
    }

    .three-part .tab{
        height: 47px;
        line-height: 47px;
    }

    .three-part .first{
        margin-left: 45px;
    }

    .tab a{
        margin-right: 24px;
    }

    
    /* 第四部分 */
     
    .four-part{   
        position: relative;
    }

    .four-part img{
        width: 1903px;
        height: 460px;
        border-top: 1px solid #00eef3;
    }

    .four-part ul{
        position: absolute;
        width: 234px;
        height: 461px;
        top: 0px;
        left: 340px;
        padding-left: 30px;
        background-color: #000;
        opacity: 0.8;
        padding-top: 20px;
        box-sizing: border-box;
    }

    .four-part li{
        font-size: 12px;
        margin-bottom: 38px;
        color: #fff;
    }

    .four-part span{
        float: right;
        font-weight: 600;
        color: #b0bcbd;
        margin-right: 30px;
    }

    .free{
        margin-bottom: 25px;
    }


    /* 第五部分 */
    .five-part{
        height: 170px;
        margin-top: 18px;
        
    }

    .five-part-service{
        float: left;
        width: 234px;
        height: 170px;
        background-color: #00eef3;
    }

    .five-part-service a{
        position: relative;
        font-size: 18px;
        float: left;
        width: 105px;
        height: 76px;
        text-align: center;
    }

    .five-part-service i {
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 8px;
        width: 24px;
        font-size: 20px;
    }

    .five-part-span{
        display: block;
        margin-bottom: 17px;
        font-size: 13px;
    }

    .five-part-service a:before {
        content: '';
        position: absolute;
        top: 2px;
        left: 9px;
        width: 64px;
        height: 1px;
        background-color: #776d65;
      }
     
    .five-part-servicer a:after {
       content: '';
       position: absolute;
       top: -1px;
       left: 6px;
       width: 104px;
       height: 1px;
       background-color: #776d65;
     }

    .five-part-ad{
        float: right;
        width: 977px;
    }

    .five-part-ad a{
        float: left;
        width: 316px;
        height: 170px;
    }

    .paper{
        float: left;
        width: 316px;
        height: 170px;
        background-color: #333;
        padding-left: 20px;
        box-sizing: border-box;
    }

    .five-part-ad a:first-child{
        margin-right: 15px;
    }

    .paper{
        margin-left: 13px;
        border: 1px solid #d2d2d2;
    }

    .five-part-ad .one{
        color: #00d7dc;
        font-size: 16px;
    }

    .five-part-ad .two{
        color: #cccccc;
    }

    .five-part-ad .two:hover{
        color: #00eef3;
    }

    .five-part-ad .five{
        color: #cccccc;
    }

    .five-part-ad .five:hover{
        color: #00eef3;
    }

    .five-part-ad .one{
        display: inline-block;
        margin-top: 16px;
        margin-right: 194px;
        margin-left: 5px;
        margin-bottom: 15px;
    }

    .five-part-ad .three{
        display: inline-block;
        color: #00d7dc;
        font-size: 13px;
        margin-bottom: 10px;
    }



    /* 6 热卖单品 */
    .hot-goods{
        height: 435 px;
        margin-bottom: 40px;
    }

    .hot-goods-title{
        height: 50px;
    }

    .hot-goods-title h2{
        float: left;
        font-size: 21px;
        line-height: 50px;
        font-weight: lighter;
        
    }

    .hot-goods-title span{
        float: right;
    }

    .hot-goods-title-button{
        margin-top: 17px;
    }

    .hot-goods-title-button .left{
        float: right;
        width: 36px;
        line-height: 24px;
        border: 1px solid #e0e0e0;
        padding-right: 11px;
        box-sizing: border-box;
        font-weight: 600;
        font-size: 14px;
        color: #e0e0e0;
    }

    .hot-goods-title-button .right{
        float: right;
        width: 36px;
        line-height: 24px;
        border: 1px solid #e0e0e0;
        padding-right: 11px;
        box-sizing: border-box;
        font-weight: 600;
        font-size: 14px;
        color: #e0e0e0;
    }

    .hot-goods-content{
        float: left;
        height: 340px;
    }

    .hot-goods-content a{
        float: left;
        width: 234px;
        height: 340px;
        text-align: center;
    }
    
    .hot-goods-content a:nth-child(-n+4){
        margin-right: 14px;
    }

    .hot-goods-content h4{
        margin-bottom: 14px;
    }

    .hot-goods-content span{
        color: #b0b0b0;
    }

    .hot-goods-content .organ{
        border: 1px solid #f5f5f5;
        border-top: 1px solid  #ffac13;
        box-sizing: border-box;
    }

    .hot-goods-content .green{
        border: 1px solid #f5f5f5;
        border-top: 1px solid  #83c44e;
        box-sizing: border-box;
    }

    .hot-goods-content .blue{
        border: 1px solid #f5f5f5;
        border-top: 1px solid  #2196f3;
        box-sizing: border-box;
    }

    .hot-goods-content .red{
        border: 1px solid #f5f5f5;
        border-top: 1px solid  #e53935;
        box-sizing: border-box;
    }

    .hot-goods-content .greenplus{
        border: 1px solid #f5f5f5;
        border-top: 1px solid #00c0a5;
        box-sizing: border-box;
    }




    /* 游戏笔记本 */


    .game-notebook{
        background-color: #f5f5f5;
        height: 738px;
    }

    .game-notebook-title h2{
        margin-top: 80px;
        font-size: 21px;
        font-weight: lighter;
        margin-bottom: 20px;
    }

    .game-notebook-title-button{
        float: right;
        font-size: 15px;
        margin-top: -40px;
    }

    .game-notebook-title-button a:hover{
        color: #00eef3;
    }

    .game-notebook-title-button span:hover{
        color: #00eef3;
    }

    .game-notebook-title a{
        margin-right: 34px;
    }

    .dayuhao{
        font-size: 15px;
        border-radius: 50%;
        background-color: #b0b0b0;
        color: #fff;
        padding: 1px 2px;
        padding-left: 4px;
        font-weight: 700;
    }

    .game-notebook-content{
        height: 614px;
    }

    .game-notebook-content-left{
        float: left;
        width: 480px;
        height: 614px;
    }

    .game-notebook-content-right {
        float: left;
        width: 744px;
        height: 614px;
    }

    .game-notebook-content-right a{
        float: left;
        width: 234px;
        height: 300px;
        text-align: center;
        background-color: #ffffff;
        margin-left: 14px;
    }

    .game-notebook-content-right a:nth-child(-n+3){
        margin-bottom: 14px;
    }

    .game-notebook-content-right h4{
        color: #8c8c8c;
        margin-bottom: 13px;
    }

    .game-notebook-content-right p{
        color: #b0b0b0;
        margin-bottom: 15px;
    }

    .game-notebook-content-right small{
        font-size: 11px;
        color: #00bcbf;
        margin-bottom: 8px;
        display: inline-block;
    }

    .game-notebook-content-right span{
        color: #b0b0b0;
    }



    /* 8. 游戏台式机 */
    .game-desktop{
        background-color: #f5f5f5;
        height: 685px;
    }

    .game-desktop-title h2{
        padding-top: 34px;
        font-size: 21px;
        font-weight: lighter;
        margin-bottom: 20px;
    }

    .game-desktop-title-button{
        float: right;
        font-size: 15px;
        margin-top: -40px;
    }

    .game-desktop-title a{
        margin-right: 34px;
    }

    .game-desktop-content-left{
        float: left;
        width: 480px;
        height: 614px;
    }

    .game-desktop-content-left a{
        float: left;
        width: 480px;
        height: 300px;
    }

    .game-desktop-content-left a:first-child{
        margin-bottom: 14px;
    }

    .game-desktop-content-right {
        float: right;
        width: 744px;
        height: 614px;
    }

    .game-desktop-content-right a{
        float: left;
        width: 234px;
        height: 300px;
        text-align: center;
        background-color: #ffffff;
        margin-left: 14px;
    }

    .game-desktop-content-right a:nth-child(-n+3){
        margin-bottom: 14px;
    } 

    .game-desktop-content-right h4{
        color: #8c8c8c;
        margin-bottom: 13px;
    }

    .game-desktop-content-right p{
        color: #b0b0b0;
        margin-bottom: 15px;
    }

    .game-desktop-content-right small{
        font-size: 11px;
        color: #00bcbf;
        margin-bottom: 8px;
        display: inline-block;
    }

    .game-desktop-content-right span{
        color: #b0b0b0;
    }




    /* 外设系列 */
    .peripherals-series{
        background-color: #f5f5f5;
        height: 685px;
    }

    .peripherals-series-title h2{
        padding-top: 34px;
        font-size: 21px;
        font-weight: lighter;
        margin-bottom: 20px;
    }

    .peripherals-series-title-button{
        float: right;
        font-size: 15px;
        margin-top: -40px;
    }

    .peripherals-series-title a{
        margin-right: 34px;
    }

    .peripherals-series-content-left{
        float: left;
        width: 480px;
        height: 614px;
    }

    .peripherals-series-content-left a{
        float: left;
        width: 480px;
        height: 300px;
    }

    .peripherals-series-content-left a:first-child{
        margin-bottom: 14px;
    }

    .peripherals-series-content-right {
        float: right;
        width: 744px;
        height: 614px;
    }

    .peripherals-series-content-right a{
        float: left;
        width: 234px;
        height: 300px;
        text-align: center;
        background-color: #ffffff;
        margin-left: 14px;
    }

    .peripherals-series-content-right a:nth-child(-n+3){
        margin-bottom: 14px;
    } 

    .peripherals-series-content-right h4{
        color: #8c8c8c;
        margin-bottom: 13px;
    }

    .peripherals-series-content-right p{
        color: #b0b0b0;
        margin-bottom: 15px;
    }

    .peripherals-series-content-right small{
        font-size: 11px;
        color: #00bcbf;
        margin-bottom: 8px;
        display: inline-block;
    }

    .peripherals-series-content-right span{
        color: #b0b0b0;
    }




    /* 增值服务 */
    .value-added-services{
        background-color: #f5f5f5;
        height: 360px;;
    }

    .value-added-services-title h2{
        padding-top: 34px;
        font-size: 21px;
        font-weight: lighter;
        margin-bottom: 20px;
    }

    .value-added-services-title-button{
        margin-top: 17px;
    }

    .value-added-services-title-button .left{
        float: right;
        width: 36px;
        line-height: 24px;
        border: 1px solid #e0e0e0;
        box-sizing: border-box;
        font-weight: 600;
        font-size: 14px;
        color: #e0e0e0;
        text-align: center;
        margin-right: 0px;
        margin-top: -44px;
    }

    .value-added-services-title-button .right{
        float: right;
        width: 36px;
        line-height: 24px;
        border: 1px solid #e0e0e0;
        box-sizing: border-box;
        font-weight: 600;
        font-size: 14px;
        color: #e0e0e0;
        text-align: center;
        margin-right: 0px;
        margin-top: -44px;
        margin-right: 35px;
    }

    .value-added-services-title a{
        margin-right: 34px;
    }

    .value-added-services-content{
        float: left;
        height: 300px;
    }

    .value-added-services-content a{
        float: left;
        width: 232px;
        height: 282px;
        background-color: #fff;
        text-align: center;
    }

    .value-added-services-content a:nth-child(-n+4){
        margin-right: 16px;
    }

    .value-added-services-content img{
        width: 160px;
        height: 160px;
        margin-top: 39px;
    }

    .value-added-services-content h4{
        color: #8c8c8c;
        margin-top: 25px;
    }

    .value-added-services-content span{
        display: block;
        color: #00bcbf;
        margin-top: 16px;
    }






    /* 热评产品 */

    .hot-product{
        height: 440px;
        background-color: #f5f5f5;
    }

    .hot-product-title h2{
        height: 60px;
        font-weight: lighter;
        font-size: 21px;
    }

    .hot-product-content{
        float: left;
        height: 380px;
    }

    .hot-product-content a{
        float: left;
        width: 296px;
        height: 380px;
        background-color: #fff;
        padding: 0 53px;
        box-sizing: border-box;
    }

    .hot-product-content a:nth-child(-n+3){
        margin-right: 14px;
    }

    .hot-product-content small{
        display: inline-block;
        margin-bottom: 35px;
        margin-top: 50px;
    }

    .hot-product-content .pingjia{
        display: inline-block;
        margin-bottom: 22px;
    }

    

    



    /* 粉丝同城会 */
    .fan-meeting{
        height: 318px;
        background-color: #f5f5f5;
    }

    .fan-meeting-title{
        height: 58px;
    }

    .fan-meeting-title h2{
        float: left;
        font-size: 21px;
        line-height: 50px;
        font-weight: lighter;
        
    }

    .fan-meeting-title span{
        float: right;
    }


    .fan-meeting-title-button{
        padding-top: 17px;
    }

    .fan-meeting-title-button .left{
        float: right;
        width: 36px;
        line-height: 24px;
        border: 1px solid #e0e0e0;
        padding-right: 11px;
        box-sizing: border-box;
        font-weight: 600;
        font-size: 14px;
        color: #e0e0e0;
    }

    .fan-meeting-title-button .right{
        float: right;
        width: 36px;
        line-height: 24px;
        border: 1px solid #e0e0e0;
        padding-right: 11px;
        box-sizing: border-box;
        font-weight: 600;
        font-size: 14px;
        color: #e0e0e0;
    }

    .fan-meeting-content{
        float: left;
        height: 260px;
    }

    .fan-meeting-content a{
        float: left;
        width: 296px;
        height: 260px;
        background-color: #fff;
    }

    .fan-meeting-content a:nth-child(-n+3){
        margin-right: 13px;
    }

    .fan-meeting-content img{
        width: 296px;
        height: 180px;
    }

    .fan-meeting-content h2{
        text-align: center;
        color: #333;
        margin-top: 33px;
        font-size: 14px;
        font-weight: normal;
    }




    /* 品牌视频专区 */
    .video{
        height: 370px;
        background-color: #f5f5f5;
    }

    .video-title{
        height: 71px;
    }

    .video-title h2{
        padding-top: 34px;
        font-size: 21px;
        font-weight: lighter;
        margin-bottom: 20px;
    }

    .video-title-button{
        float: right;
        font-size: 15px;
        margin-top: -40px;
    }

    .video-content img{
        width: 296px;
        height: 180px;
    }

    .video-content{
        float: left;
    }

    .video-content-movie{
        position: relative;
        float: left;
        height: 285px;
        text-align: center;
        background-color: #fff;
    }

    .video-content-movie:nth-child(-n+3){
        margin-right: 14px;
    }

    .video-content-movie p{
        margin-top: 33px;
        margin-bottom: 16px;
        font-size: 16px;
    }

    .video-content-movie span{
        color: #b0b0b0;
    }

    .video-content-movie i{
        position: absolute;
        width: 54px;
        height: 34px;
        line-height: 34px;
        font-size: 23px;
        color: #fff;
        border-radius: 20%;
        top: 70px;
        left: 120px;;
        background-color: #333;
        opacity: 0.8;
        border: 2px solid #fff;
    }







/* 售后 */
.sale-service {
    height: 80px;
    background-color: #272727;
    border-bottom: 1px solid #373737;
    box-sizing: border-box;
    margin-top: 14px;
  }

  .sale-service-main{
    height: 80px;
    padding:  27px 0;
    box-sizing: border-box ;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .sale--service-main a{
    float: left;
    text-align: center;
    font-size: 16px;
    color: #999999;
    line-height: 80px;
  }
  
    .sale--service-main .first{
        margin-left: 62px;
    }

  .sale--service-main i{
      font-size: 20px;
      vertical-align: middle;
  }

  .sale--service-main .shuxian{
      color: #373737;
  }
  
  .sale--service-main span{
    font-size: 15px;
    margin-right: 55px;
  }



  /* 其他 */
  .other {
    padding: 40px 0;
    background-color: #272727;
  }
  
  .other-service {
    float: left;
  }
  
  .other-service dl {
    float: left;
    margin-right: 50px;
    color: #999999;
  }
  
  .other-service dt {
    font-size: 14px;
    color: #999999;
    margin-bottom: 28px;
  }
  
  .other-service dd {
    font-size: 12px;
    line-height: 28px;
    color: #999999;
  }

  .other-service a:hover{
      color: #00eef3;
  }

  .other-service a{
      color: #999999;
  }

  .other-service img{
      width: 70px;
      height: 70px;
  }

  .other-service .tupian{
      width: 80px;
      height: 80px;
  }

  .other-service .saoyisao{
      width: 90px;
      height: 90px;
      
  }

  .other-service .fuwuxiang{
      margin-right: 34px;
  }


  .other-service .shouhou{
      width: 100px;
      height: 120px;
      margin-left: 50px;
  }



  /* 底部 */
  .footer{
      height: 80px;
      background-color: #141414;
  }

  .footer-picture{
     float: right;
     margin-top: -30px;
  }

  .footer-link a,
  .footer-licence span{
      color: #999999;
  }

  .footer-link{
      margin-top: 27px;
      margin-bottom: 6px;
  }

  .footer-link a{
      float: left;
  }

  .footer-link a:hover{
      color: #00eef3;
  }

  .footer-link .shuxian{
      margin: 0 3px;
  }

  .footer-picture img{
      width: 68px;
      height: 26px;
  }

  .footer-picture .yinyezhizhao{
      width: 91px;
      height: 26px;
      border: 1px solid #e4e4e4;
  }

  .footer-picture a{
      margin-right: 26px;
  }