/* 顶部导航 */
.topnav{
    width: 100%;
    height: 50px;
    background-color: #272727;
}
.topnav-left{
    float: left;
}
.topnav-left-a{
    color: white;
    float: left;
    line-height: 50px;
    margin: 0 15px;
}
.topnav-left-a:hover{
    color: #00eef3;
}